@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05); }

  70% {
    -webkit-transform: scale(0.9); }

  100% {
    -webkit-transform: scale(1); } }

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px); }

  80% {
    -webkit-transform: translateY(-10px); }

  100% {
    -webkit-transform: translateY(0); } }

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px); }

  80% {
    -webkit-transform: translateY(10px); }

  100% {
    -webkit-transform: translateY(0); } }

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px); }

  80% {
    -webkit-transform: translateX(10px); }

  100% {
    -webkit-transform: translateX(0); } }

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px); }

  80% {
    -webkit-transform: translateX(-10px); }

  100% {
    -webkit-transform: translateX(0); } }

@-webkit-keyframes flash {
  0% {
    opacity: 1; }

  25% {
    opacity: 0; }

  50% {
    opacity: 1; }

  75% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0); }

  20% {
    -webkit-transform: translateY(0); }

  40% {
    -webkit-transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0); }

  60% {
    -webkit-transform: translateY(-15px); }

  80% {
    -webkit-transform: translateY(0); }

  100% {
    -webkit-transform: translateY(0); } }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0); }

  10% {
    -webkit-transform: translateX(-10px); }

  20% {
    -webkit-transform: translateX(10px); }

  30% {
    -webkit-transform: translateX(-10px); }

  40% {
    -webkit-transform: translateX(10px); }

  50% {
    -webkit-transform: translateX(-10px); }

  60% {
    -webkit-transform: translateX(10px); }

  70% {
    -webkit-transform: translateX(-10px); }

  80% {
    -webkit-transform: translateX(10px); }

  90% {
    -webkit-transform: translateX(-10px); }

  100% {
    -webkit-transform: translateX(0); } }

@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1; } }

@-webkit-keyframes rotateInUpLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1; } }

@-webkit-keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1; } }

@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1; } }

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1; } }

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1); }

  10% {
    -webkit-transform: scale(0.9) rotate(-3deg); }

  20% {
    -webkit-transform: scale(0.9) rotate(-3deg); }

  30% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  40% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  50% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  60% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  70% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  80% {
    -webkit-transform: scale(1.1) rotate(-3deg); }

  90% {
    -webkit-transform: scale(1.1) rotate(3deg); }

  100% {
    -webkit-transform: scale(1) rotate(0); } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-moz-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-moz-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-moz-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3); }

  50% {
    opacity: 1;
    -moz-transform: scale(1.05); }

  70% {
    -moz-transform: scale(0.9); }

  100% {
    -moz-transform: scale(1); } }

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px); }

  60% {
    opacity: 1;
    -moz-transform: translateY(30px); }

  80% {
    -moz-transform: translateY(-10px); }

  100% {
    -moz-transform: translateY(0); } }

@-moz-keyframes bounceInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px); }

  60% {
    opacity: 1;
    -moz-transform: translateY(-30px); }

  80% {
    -moz-transform: translateY(10px); }

  100% {
    -moz-transform: translateY(0); } }

@-moz-keyframes bounceInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px); }

  60% {
    opacity: 1;
    -moz-transform: translateX(-30px); }

  80% {
    -moz-transform: translateX(10px); }

  100% {
    -moz-transform: translateX(0); } }

@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px); }

  60% {
    opacity: 1;
    -moz-transform: translateX(30px); }

  80% {
    -moz-transform: translateX(-10px); }

  100% {
    -moz-transform: translateX(0); } }

@-moz-keyframes flash {
  0% {
    opacity: 1; }

  25% {
    opacity: 0; }

  50% {
    opacity: 1; }

  75% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0); }

  20% {
    -moz-transform: translateY(0); }

  40% {
    -moz-transform: translateY(-30px); }

  50% {
    -moz-transform: translateY(0); }

  60% {
    -moz-transform: translateY(-15px); }

  80% {
    -moz-transform: translateY(0); }

  100% {
    -moz-transform: translateY(0); } }

@-moz-keyframes shake {
  0% {
    -moz-transform: translateX(0); }

  10% {
    -moz-transform: translateX(-10px); }

  20% {
    -moz-transform: translateX(10px); }

  30% {
    -moz-transform: translateX(-10px); }

  40% {
    -moz-transform: translateX(10px); }

  50% {
    -moz-transform: translateX(-10px); }

  60% {
    -moz-transform: translateX(10px); }

  70% {
    -moz-transform: translateX(-10px); }

  80% {
    -moz-transform: translateX(10px); }

  90% {
    -moz-transform: translateX(-10px); }

  100% {
    -moz-transform: translateX(0); } }

@-moz-keyframes rotateInDownLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0; }

  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1; } }

@-moz-keyframes rotateInUpLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    opacity: 0; }

  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1; } }

@-moz-keyframes rotateInUpRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0; }

  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1; } }

@-moz-keyframes rotateInDownRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0; }

  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1; } }

@-moz-keyframes rotateIn {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(-200deg);
    opacity: 0; }

  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1; } }

@-moz-keyframes tada {
  0% {
    -moz-transform: scale(1); }

  10% {
    -moz-transform: scale(0.9) rotate(-3deg); }

  20% {
    -moz-transform: scale(0.9) rotate(-3deg); }

  30% {
    -moz-transform: scale(1.1) rotate(3deg); }

  40% {
    -moz-transform: scale(1.1) rotate(-3deg); }

  50% {
    -moz-transform: scale(1.1) rotate(3deg); }

  60% {
    -moz-transform: scale(1.1) rotate(-3deg); }

  70% {
    -moz-transform: scale(1.1) rotate(3deg); }

  80% {
    -moz-transform: scale(1.1) rotate(-3deg); }

  90% {
    -moz-transform: scale(1.1) rotate(3deg); }

  100% {
    -moz-transform: scale(1) rotate(0); } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@-ms-keyframes fadeInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(20px); }

  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }

@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }

@-ms-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@-ms-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@-ms-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px); }

  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }

@-ms-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px); }

  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }

@-ms-keyframes bounceIn {
  0% {
    opacity: 0;
    -ms-transform: scale(0.3); }

  50% {
    opacity: 1;
    -ms-transform: scale(1.05); }

  70% {
    -ms-transform: scale(0.9); }

  100% {
    -ms-transform: scale(1); } }

@-ms-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px); }

  60% {
    opacity: 1;
    -ms-transform: translateY(30px); }

  80% {
    -ms-transform: translateY(-10px); }

  100% {
    -ms-transform: translateY(0); } }

@-ms-keyframes bounceInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px); }

  60% {
    opacity: 1;
    -ms-transform: translateY(-30px); }

  80% {
    -ms-transform: translateY(10px); }

  100% {
    -ms-transform: translateY(0); } }

@-ms-keyframes bounceInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px); }

  60% {
    opacity: 1;
    -ms-transform: translateX(-30px); }

  80% {
    -ms-transform: translateX(10px); }

  100% {
    -ms-transform: translateX(0); } }

@-ms-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px); }

  60% {
    opacity: 1;
    -ms-transform: translateX(30px); }

  80% {
    -ms-transform: translateX(-10px); }

  100% {
    -ms-transform: translateX(0); } }

@-ms-keyframes flash {
  0% {
    opacity: 1; }

  25% {
    opacity: 0; }

  50% {
    opacity: 1; }

  75% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes bounce {
  0% {
    -ms-transform: translateY(0); }

  20% {
    -ms-transform: translateY(0); }

  40% {
    -ms-transform: translateY(-30px); }

  50% {
    -ms-transform: translateY(0); }

  60% {
    -ms-transform: translateY(-15px); }

  80% {
    -ms-transform: translateY(0); }

  100% {
    -ms-transform: translateY(0); } }

@-ms-keyframes shake {
  0% {
    -ms-transform: translateX(0); }

  10% {
    -ms-transform: translateX(-10px); }

  20% {
    -ms-transform: translateX(10px); }

  30% {
    -ms-transform: translateX(-10px); }

  40% {
    -ms-transform: translateX(10px); }

  50% {
    -ms-transform: translateX(-10px); }

  60% {
    -ms-transform: translateX(10px); }

  70% {
    -ms-transform: translateX(-10px); }

  80% {
    -ms-transform: translateX(10px); }

  90% {
    -ms-transform: translateX(-10px); }

  100% {
    -ms-transform: translateX(0); } }

@-ms-keyframes rotateInDownLeft {
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0; }

  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1; } }

@-ms-keyframes rotateInUpLeft {
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    opacity: 0; }

  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1; } }

@-ms-keyframes rotateInUpRight {
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0; }

  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1; } }

@-ms-keyframes rotateInDownRight {
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    opacity: 0; }

  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1; } }

@-ms-keyframes rotateIn {
  0% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(-200deg);
    opacity: 0; }

  100% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(0);
    opacity: 1; } }

@-ms-keyframes tada {
  0% {
    -ms-transform: scale(1); }

  10% {
    -ms-transform: scale(0.9) rotate(-3deg); }

  20% {
    -ms-transform: scale(0.9) rotate(-3deg); }

  30% {
    -ms-transform: scale(1.1) rotate(3deg); }

  40% {
    -ms-transform: scale(1.1) rotate(-3deg); }

  50% {
    -ms-transform: scale(1.1) rotate(3deg); }

  60% {
    -ms-transform: scale(1.1) rotate(-3deg); }

  70% {
    -ms-transform: scale(1.1) rotate(3deg); }

  80% {
    -ms-transform: scale(1.1) rotate(-3deg); }

  90% {
    -ms-transform: scale(1.1) rotate(3deg); }

  100% {
    -ms-transform: scale(1) rotate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }

  50% {
    opacity: 1;
    transform: scale(1.05); }

  70% {
    transform: scale(0.9); }

  100% {
    transform: scale(1); } }

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }

  60% {
    opacity: 1;
    transform: translateY(30px); }

  80% {
    transform: translateY(-10px); }

  100% {
    transform: translateY(0); } }

@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px); }

  60% {
    opacity: 1;
    transform: translateY(-30px); }

  80% {
    transform: translateY(10px); }

  100% {
    transform: translateY(0); } }

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px); }

  60% {
    opacity: 1;
    transform: translateX(-30px); }

  80% {
    transform: translateX(10px); }

  100% {
    transform: translateX(0); } }

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }

  60% {
    opacity: 1;
    transform: translateX(30px); }

  80% {
    transform: translateX(-10px); }

  100% {
    transform: translateX(0); } }

@keyframes flash {
  0% {
    opacity: 1; }

  25% {
    opacity: 0; }

  50% {
    opacity: 1; }

  75% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes bounce {
  0% {
    transform: translateY(0); }

  20% {
    transform: translateY(0); }

  40% {
    transform: translateY(-30px); }

  50% {
    transform: translateY(0); }

  60% {
    transform: translateY(-15px); }

  80% {
    transform: translateY(0); }

  100% {
    transform: translateY(0); } }

@keyframes shake {
  0% {
    transform: translateX(0); }

  10% {
    transform: translateX(-10px); }

  20% {
    transform: translateX(10px); }

  30% {
    transform: translateX(-10px); }

  40% {
    transform: translateX(10px); }

  50% {
    transform: translateX(-10px); }

  60% {
    transform: translateX(10px); }

  70% {
    transform: translateX(-10px); }

  80% {
    transform: translateX(10px); }

  90% {
    transform: translateX(-10px); }

  100% {
    transform: translateX(0); } }

@keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0; }

  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1; } }

@keyframes rotateInUpLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0; }

  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1; } }

@keyframes rotateInUpRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0; }

  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1; } }

@keyframes rotateInDownRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0; }

  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1; } }

@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0; }

  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1; } }

@keyframes tada {
  0% {
    transform: scale(1); }

  10% {
    transform: scale(0.9) rotate(-3deg); }

  20% {
    transform: scale(0.9) rotate(-3deg); }

  30% {
    transform: scale(1.1) rotate(3deg); }

  40% {
    transform: scale(1.1) rotate(-3deg); }

  50% {
    transform: scale(1.1) rotate(3deg); }

  60% {
    transform: scale(1.1) rotate(-3deg); }

  70% {
    transform: scale(1.1) rotate(3deg); }

  80% {
    transform: scale(1.1) rotate(-3deg); }

  90% {
    transform: scale(1.1) rotate(3deg); }

  100% {
    transform: scale(1) rotate(0); } }

.trip-block {
  display: none;
  padding: 8px;
  position: absolute;
  text-align: center;
  min-width: 100px;
  border-radius: 3px; }
  .trip-block:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute; }
  .trip-block.n:before, .trip-block.s:before {
    border-width: 8px;
    left: 50%;
    margin-left: -8px; }
  .trip-block.e:before, .trip-block.w:before {
    border-width: 8px;
    top: 50%;
    margin-top: -8px; }
  .trip-block.n:before {
    top: 100%; }
  .trip-block.s:before {
    bottom: 100%; }
  .trip-block.e:before {
    right: 100%; }
  .trip-block.w:before {
    left: 100%; }
  .trip-block.screen-ne, .trip-block.screen-se, .trip-block.screen-sw, .trip-block.screen-nw, .trip-block.screen-center {
    position: fixed; }

.trip-block.animated.flash {
  -webkit-animation: flash 0.5s 0s ease both;
  -moz-animation: flash 0.5s 0s ease both;
  -ms-animation: flash 0.5s 0s ease both;
  -o-animation: flash 0.5s 0s ease both;
  animation: flash 0.5s 0s ease both; }
.trip-block.animated.bounce {
  -webkit-animation: bounce 0.5s 0s ease both;
  -moz-animation: bounce 0.5s 0s ease both;
  -ms-animation: bounce 0.5s 0s ease both;
  -o-animation: bounce 0.5s 0s ease both;
  animation: bounce 0.5s 0s ease both; }
.trip-block.animated.shake {
  -webkit-animation: shake 0.5s 0s ease both;
  -moz-animation: shake 0.5s 0s ease both;
  -ms-animation: shake 0.5s 0s ease both;
  -o-animation: shake 0.5s 0s ease both;
  animation: shake 0.5s 0s ease both; }
.trip-block.animated.tada {
  -webkit-animation: tada 0.5s 0s ease both;
  -moz-animation: tada 0.5s 0s ease both;
  -ms-animation: tada 0.5s 0s ease both;
  -o-animation: tada 0.5s 0s ease both;
  animation: tada 0.5s 0s ease both; }
.trip-block.animated.fadeIn {
  -webkit-animation: fadeIn 0.5s 0s ease both;
  -moz-animation: fadeIn 0.5s 0s ease both;
  -ms-animation: fadeIn 0.5s 0s ease both;
  -o-animation: fadeIn 0.5s 0s ease both;
  animation: fadeIn 0.5s 0s ease both; }
.trip-block.animated.fadeInUp {
  -webkit-animation: fadeInUp 0.5s 0s ease both;
  -moz-animation: fadeInUp 0.5s 0s ease both;
  -ms-animation: fadeInUp 0.5s 0s ease both;
  -o-animation: fadeInUp 0.5s 0s ease both;
  animation: fadeInUp 0.5s 0s ease both; }
.trip-block.animated.fadeInDown {
  -webkit-animation: fadeInDown 0.5s 0s ease both;
  -moz-animation: fadeInDown 0.5s 0s ease both;
  -ms-animation: fadeInDown 0.5s 0s ease both;
  -o-animation: fadeInDown 0.5s 0s ease both;
  animation: fadeInDown 0.5s 0s ease both; }
.trip-block.animated.fadeInLeft {
  -webkit-animation: fadeInLeft 0.5s 0s ease both;
  -moz-animation: fadeInLeft 0.5s 0s ease both;
  -ms-animation: fadeInLeft 0.5s 0s ease both;
  -o-animation: fadeInLeft 0.5s 0s ease both;
  animation: fadeInLeft 0.5s 0s ease both; }
.trip-block.animated.fadeInRight {
  -webkit-animation: fadeInRight 0.5s 0s ease both;
  -moz-animation: fadeInRight 0.5s 0s ease both;
  -ms-animation: fadeInRight 0.5s 0s ease both;
  -o-animation: fadeInRight 0.5s 0s ease both;
  animation: fadeInRight 0.5s 0s ease both; }
.trip-block.animated.fadeInUpBig {
  -webkit-animation: fadeInUpBig 0.5s 0s ease both;
  -moz-animation: fadeInUpBig 0.5s 0s ease both;
  -ms-animation: fadeInUpBig 0.5s 0s ease both;
  -o-animation: fadeInUpBig 0.5s 0s ease both;
  animation: fadeInUpBig 0.5s 0s ease both; }
.trip-block.animated.fadeInDownBig {
  -webkit-animation: fadeInDownBig 0.5s 0s ease both;
  -moz-animation: fadeInDownBig 0.5s 0s ease both;
  -ms-animation: fadeInDownBig 0.5s 0s ease both;
  -o-animation: fadeInDownBig 0.5s 0s ease both;
  animation: fadeInDownBig 0.5s 0s ease both; }
.trip-block.animated.fadeInLeftBig {
  -webkit-animation: fadeInLeftBig 0.5s 0s ease both;
  -moz-animation: fadeInLeftBig 0.5s 0s ease both;
  -ms-animation: fadeInLeftBig 0.5s 0s ease both;
  -o-animation: fadeInLeftBig 0.5s 0s ease both;
  animation: fadeInLeftBig 0.5s 0s ease both; }
.trip-block.animated.fadeInRightBig {
  -webkit-animation: fadeInRightBig 0.5s 0s ease both;
  -moz-animation: fadeInRightBig 0.5s 0s ease both;
  -ms-animation: fadeInRightBig 0.5s 0s ease both;
  -o-animation: fadeInRightBig 0.5s 0s ease both;
  animation: fadeInRightBig 0.5s 0s ease both; }
.trip-block.animated.bounceIn {
  -webkit-animation: bounceIn 0.5s 0s ease both;
  -moz-animation: bounceIn 0.5s 0s ease both;
  -ms-animation: bounceIn 0.5s 0s ease both;
  -o-animation: bounceIn 0.5s 0s ease both;
  animation: bounceIn 0.5s 0s ease both; }
.trip-block.animated.bounceInDown {
  -webkit-animation: bounceInDown 0.5s 0s ease both;
  -moz-animation: bounceInDown 0.5s 0s ease both;
  -ms-animation: bounceInDown 0.5s 0s ease both;
  -o-animation: bounceInDown 0.5s 0s ease both;
  animation: bounceInDown 0.5s 0s ease both; }
.trip-block.animated.bounceInUp {
  -webkit-animation: bounceInUp 0.5s 0s ease both;
  -moz-animation: bounceInUp 0.5s 0s ease both;
  -ms-animation: bounceInUp 0.5s 0s ease both;
  -o-animation: bounceInUp 0.5s 0s ease both;
  animation: bounceInUp 0.5s 0s ease both; }
.trip-block.animated.bounceInLeft {
  -webkit-animation: bounceInLeft 0.5s 0s ease both;
  -moz-animation: bounceInLeft 0.5s 0s ease both;
  -ms-animation: bounceInLeft 0.5s 0s ease both;
  -o-animation: bounceInLeft 0.5s 0s ease both;
  animation: bounceInLeft 0.5s 0s ease both; }
.trip-block.animated.bounceInRight {
  -webkit-animation: bounceInRight 0.5s 0s ease both;
  -moz-animation: bounceInRight 0.5s 0s ease both;
  -ms-animation: bounceInRight 0.5s 0s ease both;
  -o-animation: bounceInRight 0.5s 0s ease both;
  animation: bounceInRight 0.5s 0s ease both; }
.trip-block.animated.rotateIn {
  -webkit-animation: rotateIn 0.5s 0s ease both;
  -moz-animation: rotateIn 0.5s 0s ease both;
  -ms-animation: rotateIn 0.5s 0s ease both;
  -o-animation: rotateIn 0.5s 0s ease both;
  animation: rotateIn 0.5s 0s ease both; }
.trip-block.animated.rotateInDownLeft {
  -webkit-animation: rotateInDownLeft 0.5s 0s ease both;
  -moz-animation: rotateInDownLeft 0.5s 0s ease both;
  -ms-animation: rotateInDownLeft 0.5s 0s ease both;
  -o-animation: rotateInDownLeft 0.5s 0s ease both;
  animation: rotateInDownLeft 0.5s 0s ease both; }
.trip-block.animated.rotateInDownRight {
  -webkit-animation: rotateInDownRight 0.5s 0s ease both;
  -moz-animation: rotateInDownRight 0.5s 0s ease both;
  -ms-animation: rotateInDownRight 0.5s 0s ease both;
  -o-animation: rotateInDownRight 0.5s 0s ease both;
  animation: rotateInDownRight 0.5s 0s ease both; }
.trip-block.animated.rotateInUpLeft {
  -webkit-animation: rotateInUpLeft 0.5s 0s ease both;
  -moz-animation: rotateInUpLeft 0.5s 0s ease both;
  -ms-animation: rotateInUpLeft 0.5s 0s ease both;
  -o-animation: rotateInUpLeft 0.5s 0s ease both;
  animation: rotateInUpLeft 0.5s 0s ease both; }
.trip-block.animated.rotateInUpRight {
  -webkit-animation: rotateInUpRight 0.5s 0s ease both;
  -moz-animation: rotateInUpRight 0.5s 0s ease both;
  -ms-animation: rotateInUpRight 0.5s 0s ease both;
  -o-animation: rotateInUpRight 0.5s 0s ease both;
  animation: rotateInUpRight 0.5s 0s ease both; }

.trip-close {
  font-size: 80%;
  float: right;
  margin-top: -5px; }
  .trip-close:hover {
    text-decoration: none; }

.trip-content {
  clear: right; }

.trip-progress-bar {
  height: 1px;
  background-color: #444;
  width: 0; }

.trip-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }

.trip-prev, .trip-next {
  padding: 5px 10px; }

/*
 *  TODO:
 *  implement with more details later
 */
.trip-exposed {
  /** background: white; **/
}

.trip-block.black {
  background: #333;
  color: #DDD;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0; }
  .trip-block.black .trip-close {
    color: #ddd; }
    .trip-block.black .trip-close:hover {
      color: #fff; }
  .trip-block.black.n:before {
    border-top-color: #333333; }
  .trip-block.black.s:before {
    border-bottom-color: #333333; }
  .trip-block.black.e:before {
    border-right-color: #333333; }
  .trip-block.black.w:before {
    border-left-color: #333333; }

.trip-block.white {
  background: #fff;
  color: #333; }
  .trip-block.white .trip-close {
    color: #333; }
    .trip-block.white .trip-close:hover {
      color: #000; }
  .trip-block.white.n:before {
    border-top-color: white; }
  .trip-block.white.s:before {
    border-bottom-color: white; }
  .trip-block.white.e:before {
    border-right-color: white; }
  .trip-block.white.w:before {
    border-left-color: white; }

.trip-overlay.yeti {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

.trip-block.yeti {
  padding: 0px;
  background: #008cba;
  color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.39) 0 2px 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.39) 0 2px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.39) 0 2px 2px 0; }
  .trip-block.yeti.n:before {
    border-top-color: #008cba; }
  .trip-block.yeti.s:before {
    border-bottom-color: #006687; }
  .trip-block.yeti.e:before {
    border-right-color: #008cba; }
  .trip-block.yeti.w:before {
    border-left-color: #008cba; }
  .trip-block.yeti .trip-header {
    position: relative;
    font-size: 18px;
    background: #006687;
    margin: 0px;
    border-radius: 3px 3px 0px 0px;
    padding: 5px; }
  .trip-block.yeti .trip-content {
    font-size: 12px;
    padding: 15px;
    max-width: 450px; }
  .trip-block.yeti .trip-close {
    right: 0px;
    top: 0px;
    margin: 3px 8px 0px 0px;
    color: #fff;
    font-size: 16px; }
    .trip-block.yeti .trip-close:hover {
      color: #000; }
  .trip-block.yeti .trip-progress-wrapper .trip-prev,
  .trip-block.yeti .trip-progress-wrapper .trip-next {
    font-size: 12px;
    color: #fff; }
  .trip-block.yeti .trip-progress-wrapper .trip-prev:hover,
  .trip-block.yeti .trip-progress-wrapper .trip-next:hover {
  }
  .trip-block.yeti .trip-progress-wrapper .trip-next {
    float: right;
    border-radius: 0px 0px 5px 0px; }
  .trip-block.yeti .trip-progress-wrapper .trip-prev {
    display: none;
    float: left;
    border-radius: 0px 0px 0px 5px; }

  .trip-show {
    top: 20px;
  }

  .block-show{
    margin-top: 35px;
  }