.windows-main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
/*	margin: 0 auto -150px;*/
	padding: 0 0 210px;
}

.windows-footer {
/*	position: relative;*/
	clear: both;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	padding-top: 20px;
	background-color: #111;
}

.windows-footer p {
	color: #F5F5F5;
}

@media only screen and (max-width: 1200px) {
	.windows-footer {
		height: 170px;
	}
}

@media only screen and (max-width: 992px) {
	.windows-footer {
		height: 290px;
	}
}

@media only screen and (max-width: 462px) {
	.windows-footer {
		height: 360px;
	}
}
