<div class="row tab first-tab center">
	<div class="col-md-12">
		<h1>Formulaire de contact</h1>
		<p>Pour toutes vos remarques, questions, laissez-nous un message.</p>
	</div>
</div>
<div class="row tab other-tab center">
	<div class="col-md-12 info">
		<p>Pour information, <strong>la commande de Bibles n'est pas disponible</strong>. 
		Les demandes de Bibles ne pourront donc pas être traîtées. 
		Merci de votre compréhension.</p>
	</div>
</div>
<!-- Contact Form - START -->
<div class="row tab other-tab">
	<div class="container">	
		<!-- Contacts -->
		<div id="contacts">
			<div class="row">	
				<!-- Alignment -->
				<div class="col-sm-offset-3 col-sm-6">
					<!-- Form itself -->
					<form name="sentMessage" id="contactForm"  novalidate>
						<div class="control-group">
							<div class="controls">
								<input type="text" class="form-control" 
			                    placeholder="Nom" id="name" required
			                    data-validation-required-message="Saisissez votre nom" />
								<p class="help-block"></p>
							</div>
						</div> 	
						<div class="control-group">
							<div class="controls">
								<input type="email" class="form-control" placeholder="Email" 
								id="email" required
       							data-validation-required-message="Saisissez votre adresse email" />
							</div>
						</div> 	

						<div class="control-group">
							<div class="controls">
								<textarea rows="10" cols="100" class="form-control" 
				       			placeholder="Message..." id="message" required
				 				data-validation-required-message="Saisissez votre message" minlength="5" 
								data-validation-minlength-message="Minimum 5 caractères" 
	  							maxlength="999" style="resize:none"></textarea>
							</div>
						</div> 		 
						<div id="success"> </div> <!-- For success/fail messages -->
						<button type="submit" class="btn btn-primary pull-right">Envoyer</button><br />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- JS FILES -->
<script src="contact-form/js/jqBootstrapValidation.js"></script>
<script src="contact-form/js/contact_me.js"></script>
